*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#000;
    color:#fff;
    font-family:Georgia, serif;
    overflow-x:hidden;
}

/* Fondo de estrellas */

#stars{
    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/* ========================= */
/* HERO */
/* ========================= */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero-content{
    max-width:850px;
}

.hero h1{
    font-size:68px;
    margin-bottom:30px;
}

#textoHero{
    font-size:25px;
    line-height:1.8;
    margin-bottom:35px;
    opacity:.92;
}

.hero-frase{
    font-size:30px;
    font-style:italic;
    line-height:1.8;
    margin-bottom:60px;
}

button{
    background:white;
    color:black;
    border:none;
    padding:20px 55px;
    border-radius:50px;
    font-size:22px;
    cursor:pointer;
    transition:.35s;
}

button:hover{
    transform:scale(1.05);
}

/* ========================= */
/* ESCENAS */
/* ========================= */

.scene{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:70px 25px;

}

.scene img{

    width:90%;

    max-width:950px;

    border-radius:18px;

    margin-bottom:45px;

    box-shadow:0 0 40px rgba(255,255,255,.12);

}

.texto{

    max-width:900px;

    text-align:center;

}

.texto h2{

    font-size:46px;

    margin-bottom:25px;

}

.texto p{

    font-size:24px;

    line-height:1.8;

    opacity:.9;

}

/* ========================= */
/* CELULAR */
/* ========================= */

@media(max-width:768px){

.hero h1{

    font-size:42px;

}

#textoHero{

    font-size:20px;

}

.hero-frase{

    font-size:22px;

}

button{

    width:100%;

    font-size:20px;

}

.scene img{

    width:100%;

}

.texto h2{

    font-size:32px;

}

.texto p{

    font-size:19px;

}

}/* ========================= */
/* APARICION SUAVE AL SCROLL */
/* ========================= */

.scene{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
}

.scene.visible{
    opacity: 1;
    transform: translateY(0);
}